---
export interface Props {
  url: string;
  slug: string;
  mask?: boolean;
  size: 'sm' | 'lg';
  blank?: boolean;
}

const { url, slug, mask, size, blank } = Astro.props as Props;

const { hostname } = new URL(url);
const favicon = 'https://icons.duckduckgo.com/ip3/' + hostname + '.ico';

const scale = {
  sm: 'w-10 h-10',
  lg: 'w-16 h-16',
}[size];
---

<a
  target={blank ? '_blank' : '_self'}
  href={!blank ? `/devfolios/${slug}` : url}
  title={slug}
  class={`${scale}
  transform hover:scale-125 ${mask && 'bg-gray-200'} duration-75 ease-linear rounded-full p-2 flex items-center
  justify-center`}
>
  <img src={favicon} alt='favicon' class='block' />
</a>
